version: '3'

services:
  ldap-server:
    image: osixia/openldap:{{ openldap_ver }}
    restart: always
    container_name: ldap-server
    environment:
      LDAP_ORGANISATION: "people"
      LDAP_DOMAIN: {{ ldap_admin_domain }}
      LDAP_ADMIN_PASSWORD: {{ ldap_password }}
    networks:
      - default

  ldap-admin:
    image: osixia/phpldapadmin:{{ phpldapadmin_ver }}
    restart: always
    container_name: ldap-admin
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: "ldap"
      PHPLDAPADMIN_HTTPS: "false"
      VIRTUAL_HOST: {{ server_domain }}
      VIRTUAL_PORT: {{ server_port }}
      LETSENCRYPT_HOST: {{ server_domain }}
      LETSENCRYPT_EMAIL: {{ server_email }}
    ports:
      - "80:80"
      - "8443:443"
    expose:
      - "80"
    links:
      - "ldap-server:ldap"
    depends_on:
      - ldap-server
    networks:
      - default

volumes:
  certs:
  html:
  vhost:
