[General]
FullMachineName={{ ldap_server_domain }}
SuiteSpotUserID=nobody
[slapd]
ServerPort={{ ldap_server_port }} 
ServerIdentifier=ldap
Suffix={{ ldap_suffix }}
RootDN=cn=Directory Manager
RootDNPwd={{ ldap_password }}