[General]
FullMachineName={{ ldap_server_domain }}
SuiteSpotUserID=nobody

[slapd]
ServerPort={{ ldap_server_port }}
ServerIdentifier=ldap
Suffix={{ ldap_suffix }}
RootDN=cn=admin
RootDNPwd={{ ldap_password }}

[admin] 
ServerAdminID=admin 
ServerAdminPwd={{ ldap_password }}