version: '3'
services:
  nginx-proxy:
    image: jwilder/nginx-proxy:{{ nginx_proxy_ver }}
    container_name: nginx-proxy
    ports:
      - 80:80
      - 443:443
    volumes:
      - certs:/etc/nginx/certs:ro
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    restart: always
    depends_on:
      - keycloak
    networks:
      - keycloak

  letsencrypt-nginx-proxy-companion:
    image: jrcs/letsencrypt-nginx-proxy-companion:{{ letsencrypt_nginx_proxy_companion_ver }}
    container_name: nginx-letsencrypt
    volumes:
      - certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      NGINX_PROXY_CONTAINER: nginx-proxy
    volumes_from:
      - nginx-proxy
    restart: always
    depends_on:
      - nginx-proxy
    networks:
      - keycloak

  keycloak:
    image: jboss/keycloak:{{ keycloak_ver }}
    container_name: keycloak
    environment:
      DB_VENDOR: mariadb
      DB_ADDR: mariadb
      DB_DATABASE: keycloak
      DB_USER: keycloak
      DB_PASSWORD: password
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: Pa55w0rd
      JGROUPS_DISCOVERY_PROTOCOL: JDBC_PING
      VIRTUAL_HOST: {{ server_domain }}
      VIRTUAL_PORT: 8080
      LETSENCRYPT_HOST: {{ server_domain }}
      LETSENCRYPT_EMAIL: {{ server_email }}
      CERT_NAME: default
    ports:
      - 8080:8080
    command: ["-b 0.0.0.0", "--server-config=standalone.xml"]
    depends_on:
      - mariadb
    networks:
      - keycloak

  mariadb:
    image: mariadb:{{ mariadb_ver }}
    container_name: mariadb
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: keycloak
      MYSQL_USER: keycloak
      MYSQL_PASSWORD: password
    # Copy-pasted from https://github.com/docker-library/mariadb/issues/94
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--silent"]
    networks:
      - keycloak

volumes:
  certs:
  html:
  vhost:
  mysql_data:

networks:
  keycloak:
    driver: bridge
